<div class="ng-cloak" ng-controller="example.property.editor as vm" ng-init="vm.initEditor()">
	<div class="umb-el-wrap control-group">

		<umb-load-indicator ng-if="vm.state == vm.loading"></umb-load-indicator>

		<div class="umb-editor" ng-show="vm.state == vm.saving">
			<div class="umb-loader-wrapper">
				<div class="umb-loader">
				</div>
			</div>
		</div>

		<div class="umb-editor" ng-show="vm.state == vm.edit">
			<input type="text" ng-model="vm.connector">
		</div>
		
		<div ng-show="vm.state == vm.preview">
			This text appears when you add this property to a DocType
		</div>		
	</div>
</div>
